

*,*:before,*:after {
    box-sizing: border-box;
  }
  html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .left-div-font{
    float: left;
    color: #000;
    font-size: 24px;
    font-weight: 700
  }
  .light-color{
    float: left;
    color: #acafb5;
    font-size: 18px;
    font-weight: 500
  }
  .row{
    margin-top: 5%
  }
  .transparent{
    border-color: transparent;
    background-color: transparent
  }
  .dark-color{
    float: right;
    color: #acafb5;
    font-size: 18px;
    font-weight: 500
  }
  
  .train {
    margin: 20px auto;
    max-width: 250px;
  }
  
  .col {
    margin-top: 20px
  }
  .col-card {
    border-radius: 20%
  }
  Card .fare {
    border-radius: 5%
  }
  .seats {
    margin-top: 15px
  }
  .another-card {
    border-radius: 5%;
     margin-top: 3%
  }
  .view-col {
    border-style: dotted
  }
  
  .exit {
    display: flex;
    flex-direction: row;
    padding: .5rem 0;
    div {
      flex: 1;
      background: #d8d8d8;
      text-align: center;
      justify-content: center;
      height: 40px;
      line-height: 40px;
      &:nth-child(2) {
        flex: 0 1 20%;
        background: #fff;
      }
    }
    &.back {
      flex-direction: row-reverse;
    }
  }
  
  .train-body {
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
  }
  
  ol {
    list-style :none;
    padding: 0;
    margin: 0;
  }
  .card-style{
    border-color: transparent;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15)
  }
  .seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;  
  }
  .cardbody-style{
    display: inline-block;
    width: 100%
  }
  .side-div{
    float: right;
    font-size: 20px;
    color: #000
  }
  .center-div{
    color: #38B87C;
    font-size: 24px
  }
  .fare-div{
    font-weight: 700
  }
  .seat-div{
    border-style: dotted
  }
  .reset-div{
    margin-top: 15px
  }
  .passenger-div{
    border-radius: 5%;
    margin-top: 3%
  }
  .view-div{
    float: right;
    font-size: 12px
  }
  .delete-div{
    float: left;
    font-size: 12px
  }
  .font-float{
    float: left;
    color: #000;
    font-size: 24px;
    font-weight: 500
  }
  .font-rupee{
    color: #acafb5;
    font-size: 18px;
    font-weight: 500
  }
  .font-awesome-icon{
    color: #acafb5;
    font-size: 18px;
    font-weight: 500
  }
  .city-div{
    float: right;
    color: #000;
    font-size: 24px;
    font-weight: 500
  }
  
  .seat {
    display: flex;
    flex: 0 0 21%;
  
    position: relative;  
    &:nth-child(2) {
      margin-right: 15%;
    }
    input[type=checkbox] {
      position: absolute;
      opacity: 0;
    }
    input[type=checkbox]:checked {
      + label {
        background: #bada55;      
        -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
        animation-duration: 300ms;
        animation-fill-mode: both;
      }
    }
    input[type=checkbox]:disabled {
      + label {
        background: #dddddd;
        text-indent: -9999px;
        overflow: hidden;
        &:after {
          content: "X";
          text-indent: 0;
          position: absolute;
          top: 4px;
          left: 50%;
          transform: translate(-50%, 0%);
        }
        &:hover {
          box-shadow: none;
          cursor: not-allowed;
        }
      }
    }
    label {    
      display: block;
      position: relative;    
      width: 100%;    
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5rem;
      padding: 4px 0;
      background: #F42536;
      border-radius: 5px;
      animation-duration: 300ms;
      animation-fill-mode: both;
      
      &:before {
        content: "";
        position: absolute;
        width: 75%;
        height: 75%;
        top: 1px;
        left: 50%;
        transform: translate(-50%, 0%);
        background: rgba(255,255,255,.4);
        border-radius: 3px;
      }
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0px 2px #5C6AFF;
      }
      
    }
  }
  
  @-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
              transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
              transform: scale3d(1.05, .95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
              transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
              transform: scale3d(1.05, .95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
  }