

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
.logout{
	cursor: pointer
}

h1 {
  font-size: 50px;
  font-family: Audiowide;
}
p {
  font-size: 24px;
  line-height: 50px;
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #d4d7de;
  width: 100%;
  height: 70px;
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
}
.logo {
  flex: 1 1 auto;
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
}
img {
  width: 20%;
}
a {
  margin: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: #000;
}
.banner-area {
  position: relative;
  background-image: url("../../assests/images/backgroundImage.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-area,
.port-area,
.service-area,
.contact-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 700px;
}
.text-part {
  width: 65%;
  height: 80%;
}
.about-area {
  background-color: #fefefe;
}
.port-area {
  background-color: #262626;
  color: #fff;
}
.service-area {
  background-color: #fefefe;
}
.contact-area {
  background-color: #262626;
  color: #fff;
}
